.profile__info {
  display: grid;
  grid-template-areas: 
  'name edit'
  'bio .';
  align-items: end;
  column-gap: 18px;
  row-gap: 7px;
  max-width: 450px;
}

@media screen and (max-width:700px) {
  .profile__info {
    margin-left: 36px;
  }
}